<h1> My name is <%= @names %> </h1>
<h1> And I am addicted to <%= @addiction %> </h1>

<form name="input" action="/named-cat">
  <input type="text" name=name>
  <input type="text" name=addiction>
  <input type="submit" value="Submit">
</form>


<div style='border: 3px dashed red'>
  <img src="http://bit.ly/1eze8aE">
</div>
